[user]
	name = yuu-ux
	email = yuugaehara@gmail.com
[core]
	editor = nvim
	excludesfile = /Users/ebarayuuga/.gitignore_global
	quotepath = false
[commit]
	template = ~/dotfiles/.gitmessages
[alias]
	co = checkout
    st = status
    ss = stash save
    sd = stash drop
    sp = stash pop
    sl = stash list
    df = diff
    cm = commit
    ad = add
    sw = stash show
    b = branch
[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta
[delta]
    plus-style = "syntax #012800"
    minus-style = "syntax #340001"
    syntax-theme = Monokai Extended
    navigate = true
    side-by-side = true
    file-style = "bold yellow"
[init]
	defaultBranch = main
