#!/bin/bash

mkdir -p "${HOME}/.zsh"
curl -o "${HOME}/.zsh/git-prompt.sh" https://raw.githubusercontent.com/git/git/master/contrib/completion/git-prompt.sh
git clone --depth 1 https://github.com/unixorn/fzf-zsh-plugin.git ~/.local/share/chezmoi/fzf-zsh-plugin
git clone https://github.com/Aloxaf/fzf-tab ~/.local/share/chezmoi/fzf-tab
git clone https://github.com/zsh-users/zsh-autosuggestions ~/.local/share/chezmoi/.zsh/zsh-autosuggestions
curl https://mise.run | sh
